<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: header('Create Post Page')"></th:block>
</head>
<body>
<th:block th:include="fragments/navbar :: navbar"></th:block>
<h1 class="text-center">Edit Post Page:</h1>

<div class="row justify-content-center">
    <div class="card m-1 w-75" style="width: 18rem;">
        <div class="card-body" >
            <!--<p class="card-title"><b>Title:</b> <span class="font-italic" th:text="${post.title}"></span></p>-->
            <!--<p class="card-text"><b>Body:</b> <span th:text="${post.body}"></span></p>-->
            <!--<a th:href="@{'/posts/' + ${post.id}}" class="card-link">Post Link</a>-->


            <form th:action="@{'/posts/{id}/edit' (id=${post.id})}" method="post" th:object="${post}" class="mb-3">
                <div class="form-group">
                    <label for="title">New Title:</label>
                    <input th:field="*{title}" id="title" class="form-control input-lg" />
                </div>
                <div class="form-group">
                    <label for="body">New Body:</label>
                    <input th:field="*{body}" id="body" class="form-control input-lg"/>
                </div>
                <!--<input type="hidden" th:field="*{id}" class="input-lg"/>-->
                <ul class="nav nav-pills justify-content-center form-group">
                    <li class="nav-item font-weight-bold w-75"><button type="submit" class="nav-link active w-100 btn btn-warning font-weight-bold text-light">Submit</button></li>
                </ul>
            </form>
            <form th:action="@{'/posts/{id}/delete' (id=${post.id})}" th:method="delete" th:object="${post}" class="mb-3">
                <input type="hidden" name="_method" value="delete" />
                <ul class="nav nav-pills justify-content-center form-group">
                    <li class="nav-item font-weight-bold w-75"><button type="submit" class="nav-link active w-100 btn btn-danger font-weight-bold text-light" th:method="delete">DELETE POST</button></li>
                </ul>
            </form>
        </div>
    </div>
</div>
<th:block th:include="fragments/footer :: footer"></th:block>

</body>
</html>