<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: header('Show Page')"></th:block>
</head>
<body>
<th:block th:include="fragments/navbar :: navbar"></th:block>
<h1 class="text-center text-light">Individual Post Page:</h1>

<div class="row justify-content-center">
    <div class="card m-1" style="width: 18rem">
        <div class="card-body">
            <p class="card-title"><b>Title:</b> <span class="font-italic" th:text="${post.title}"></span></p>
            <p class="card-text"><b>Body:</b> <span th:text="${post.body}"></span></p>
            <p class="card-text"><b>Author Contact Info:</b> <span th:text="${post.user.email}"></span></p>

            <ul class="nav nav-pills justify-content-center mt-auto">
                <span><li class="nav-item font-weight-bold"><a href="/posts" class="nav-link active">All Posts</a></li></span>
                <span class="ml-3"><li class="nav-item font-weight-bold"><a th:href="@{'/posts/' + ${post.id} + '/edit'}" class="nav-link active">Edit Post</a></li></span>
            </ul>
        </div>
    </div>
</div>

<th:block th:include="fragments/footer :: footer"></th:block>

</body>
</html>