<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: header('Show Page')"></th:block>
</head>
<body>
<th:block th:include="fragments/navbar :: navbar"></th:block>

<div class="row justify-content-center">
    <div class="card " style="width: 18rem">
        <div class="card-body" >
            <p class="card-title"><b>Title:</b> <span class="font-italic" th:text="${post.title}"></span></p>
            <p class="card-text"><b>Body:</b> <span th:text="${post.body}"></span></p>
            <a href="/posts" class="card-link">Post Index</a>
            <!--<a href="#" class="card-link">Another link</a>-->
        </div>
    </div>
</div>
</body>
</html>