<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: header('Roll Dice Page')"></th:block>
</head>
<body class="m-1">
<th:block th:include="fragments/navbar :: navbar"></th:block>

<!--<div th:if="${numberGuess == null}">-->
<div>
    <h1 class="text-center">Choose a number from 1 to 6:</h1>
    <ul class="nav nav-pills justify-content-center">
        <h4 class="mx-3"><li class="nav-item font-weight-bold"><a href="/roll-dice/1" class="nav-link active">1</a></li></h4>
        <h4 class="mx-3"><li class="nav-item font-weight-bold"><a href="/roll-dice/2" class="nav-link active">2</a></li></h4>
        <h4 class="mx-3"><li class="nav-item font-weight-bold"><a href="/roll-dice/3" class="nav-link active">3</a></li></h4>
        <h4 class="mx-3"><li class="nav-item font-weight-bold"><a href="/roll-dice/4" class="nav-link active">4</a></li></h4>
        <h4 class="mx-3"><li class="nav-item font-weight-bold"><a href="/roll-dice/5" class="nav-link active">5</a></li></h4>
        <h4 class="mx-3"><li class="nav-item font-weight-bold"><a href="/roll-dice/6" class="nav-link active">6</a></li></h4>
    </ul>
</div>
<div class="row justify-content-center">
    <div class="card col-4" style="width: 18rem;" th:each="roll: ${diceRolls}">
        <div class="card-body" th:if="${numberGuess > 0}">
            <p class="card-subtitle mb-2 text-muted">Your guess was <span class="font-italic" th:text="${numberGuess}"></span></p>
            <p class="card-title">The correct number is <span class="font-bold" th:text="${roll}"></span></p>
            <p class="card-text">
                <span th:if="${numberGuess == roll}" class="text-success">YOU GUESSED RIGHT!!!</span>
                <span th:if="${numberGuess != roll}" class="text-warning">WRONG GUESS</span>
            </p>
            <!--<a href="/posts/4" class="card-link">Post Link</a>-->
            <!--<a href="#" class="card-link">Another link</a>-->
        </div>
    </div>
</div>


<th:block th:include="fragments/footer :: footer"></th:block>

</body>
</html>